

/* CSS declarations go here */
@font-face {
    font-family: "3Dumb";
    src: url(/3Dumb.ttf) format("truetype");
}
h1.customfont {
    font-family: "3Dumb", Verdana, Tahoma;
    font-size: 32px;
}

body {
  overflow: hidden;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: 100vh;
  background: #e1e5f0;
  /*background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
}

header {
  /*background: #d2edf4;*/
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0px;
}

h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0px;
}

#MyLC {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
}

#Thanks {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  margin: auto;
}

form {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.new-item input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-item input:focus{
  outline: 0;
}

/*
ul {
  margin: 0;
  padding: 0;
  background: white;
}
*/

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 0px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 0px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 0px;
}

@media (max-width: 600px) {
  li {
    padding: 0px 0px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-item input {
    padding-bottom: 5px;
  }
}

.portlet {
 margin: 0 1em 1em 0;
 padding: 0.3em;
}
.portlet-header {
 padding: 0.2em 0.3em;
 margin-bottom: 0.5em;
 position: relative;
}
.portlet-toggle {
 position: absolute;
 top: 50%;
 right: 0;
 margin-top: -8px;
}
.portlet-content {
 display: none;
 padding: 0.4em;
}
.portlet-placeholder {
 border: 1px dotted black;
 margin: 0 1em 1em 0;
 height: 50px;
}
.info-text {
  text-align: center;
  background: white;
  padding: 10px 10px 10px 10px;
}
.img-fill-div {
  max-width: 100%;
  max-height: 100%;
}
.list-item-style {
  display: inline-block;
  position:relative; bottom:0px;
  padding: 0px;
  border: solid #000;
  border-width: 0px 0px 0px 0px;
  margin: 0px;
  height: 0px;
  width: 0px;
  /*height and width: set by code to change icon size*/
}
.list-placeholder-style {
  display: inline-block;
  position:relative; bottom:0px;
  padding: 0px;
  border: solid #000;
  border-width: 0px 0px 0px 0px;
  margin: 0px;
  height: 0px;
  width: 0px;
}
.list-dummy-style {
  font-size: 14px;
  display: inline-block;
  position:relative; bottom:0px;
  padding: 0px;
  border: solid #000;
  border-width: 0px 0px 0px 0px;
  margin: 0px;
  height: 0px;
  width: 0px;
}
.sortable-items-source {
  font-size: 0;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  border: solid #500;
  border-width: 0px 0px 0px 0px;
  margin: 0px;
  height: 100%;
  /*background: #d2edf4;*/
  background-image: linear-gradient(to bottom, #d1d5e0, #d9d9d9 100%);
}
.sortable-items-target {
  font-size: 0;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  padding: 0px;
  border: solid #b5c5bf;
  border-width: 1px 1px 1px 1px;
  margin: 0px;
  width: 100%;
  background: #e5f5ef;
}
.inline-location-image {
  display: inline-block;
  border: 0px;
  margin: 0 0 0 0;
  height: 200px;
  width: 200px;
}
.map-info-box {
    width: 360px;
    height: 360px;
    text-align: center;
}
textarea {
     width: 90%;
     height: 10em;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.button-style {
  font-size: 14px;
}
.nav-block {
  position: relative;
  width: 100%;
  text-align: left;
}
.nav-button-style-left {
  width: 33%;
  text-align: left;
}
.nav-button-style-middle {
  width: 34%;
  text-align: center;
}
.nav-button-style-right {
  width: 33%;
  text-align: right;
}

.map-container {
  margin:auto;
  text-align:center;
  height: 50%;
  width: 80%;
}

.login-buttons-dropdown-align- {
  text-align: left;
}

/* map info window style in code - see h=h+... */
